@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.slick-slide {
  height: 80% !important;
  transition: transform 0.3s ease-in-out;
  transform: scale(0.8);
}

.slick-arrow::before {
  color: black !important;
}

@media screen and (max-width: 1024px) {
  .slick-current {
    transform: scale(0.9);
    font-weight: 600;
  }
  
  .slick-current > div > div {
    background-color: rgb(246 250 255);
    box-shadow: 0 2px 6px 4px rgb(239 239 239);
  }
}

@media screen and (min-width: 1025px) {
  .slick-current + div {
    transform: scale(0.9);
    font-weight: 600;
  }
  
  .slick-current + div > div > div {
    background-color: rgb(246 250 255);
    box-shadow: 0 2px 6px 4px rgb(239 239 239);
  }
}